@charset "utf-8";
.w-auto {
    width: 13.20rem;
    margin: 0 auto;
}
.box{
  display: flex;
}
.title-name {
    font-size: 0.28rem;
    font-weight: 600;
    color: #141634;
    line-height: 0.26rem;
    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
    align-items: center;
    position: relative;
    padding-right: 200px;
    img {
        height: 0.28rem;
        margin-right: 0.13rem;
    }
    .tips {
        width: 0.22rem;
        height: 0.22rem;
        position: relative;
        left: 0.1rem;
        top: -0.04rem;
    }
}
.border-box {
    border: 0.01rem solid #141634;
}
.bg-color {
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 0;
        position: absolute;
        display: inline-block;
        background-color: #E2E6E4;
        border: 0.01rem solid #141634;
        top: 0.1rem;
        left: 0.08rem;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      z-index: 0;
      position: absolute;
      display: inline-block;
      background-color: #ffffff;
      border: 0.01rem solid #141634;
      top: -0.01rem;
      left: -0.01rem;
    }
}
.box-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.choice_list {
    position: absolute;
    width: 4.26rem;
    bottom: 0.1rem;
    background-color: #fff;
    z-index: 1;
    right: 0rem;
}
.border_top_left {
    border-top-left-radius: 0.6rem;
    &:before {
        border-top-left-radius: 0.6rem;
    }
    &:after {
        border-top-left-radius: 0.6rem;
    }
}
.border_top_right {
    border-top-right-radius: 0.6rem;
    &:before {
        border-top-right-radius: 0.6rem;
    }
    &:after {
        border-top-right-radius: 0.6rem;
    }
}
.border_bottom_right {
    border-bottom-right-radius: 0.6rem;
    &:before {
        border-bottom-right-radius: 0.6rem;
    }
    &:after {
        border-bottom-right-radius: 0.6rem;
    }
}
.border_bottom_left {
    border-bottom-left-radius: 0.6rem;
    &:before {
        border-bottom-left-radius: 0.6rem;
    }
    &:after {
        border-bottom-left-radius: 0.6rem;
    }
}
.box-title-name {
    font-size: 0.16rem;
    font-weight: 600;
    color: #141634;
    line-height: 16px;
    padding: 0.2rem;
}
.table-list {
    padding: 0 0.2rem 0.1rem;;
}
table{
    font-size:0.16rem;
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
    color:#666;
    td{
        font-size: 0.16rem;
        text-align: center;
        height: 0.5rem;
        line-height: 0.5rem;
        overflow: hidden;
        color: #141634;
        &.fc {
            color: #F6843C;
        }
        span {
            &.fc {
                color: #F6843C;
            }
            &.fb {
                color: #42A8FF;
            }
        }
    }
    th {
        position: relative;
        height: 0.5rem;
        line-height: 0.5rem;
        overflow: hidden;
        text-align: center;
        background: #ffffff;
        color: #141634;
        &.bg {
            background: #FDF7F3;
        }
    }
}
.footed {
    height: 0.68rem;
    line-height: 0.68rem;
    background: #ffffff;
    font-size: 0.16rem;
    font-weight: 400;
    color: #848599;
    overflow: hidden;
    div {
        position: relative;
        height: 100%;
    }
    p {
        align-items: center;
        width: 100%;
        height: 100%;
        .copy {
            position: absolute;
            width: 100%;
            text-align: center;
        }
        .recordNo {
            position: absolute;
            right: 0;
        }
    }
    img {
        width: 1.52rem;
        height: 0.48rem;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
}
.pl10 {
  padding-left: 0.1rem;
}
.pr10 {
  padding-right: 0.1rem;
}
.mt30 {
    margin-top: 0.3rem;
}
.mt20 {
    margin-top: 0.2rem;
}
.mb30 {
    margin-bottom: 0.3rem;
}
.pt30 {
    padding-top: 0.3rem;
}
.pb30 {
    padding-bottom: 0.3rem;
}
.clear-radius {
    border-radius: initial;
}
.data-list {
    padding: 0 0.2rem;
    margin-top: 0.1rem;
    .data-list-left {
        font-size: 0.16rem;
        font-weight: 500;
        color: #848599;
    }
    .data-list-right {
        font-size: 0.16rem;
        font-weight: 600;
        color: #141634;
    }
    .el-row {
      margin-bottom: 0.16rem;
    }
}
.cursor {
  cursor: pointer;
}
.tips2 {
    position: absolute;
    left: -0.28rem;
    top: 0;
    z-index: 2;
    img {
        float: left;
        width: 0.22rem;
        height: 0.22rem;
    }
}
.tips3 {
    position: absolute;
    right: -0.28rem;
    top: 0;
    z-index: 2;
    img {
        float: left;
        width: 0.22rem;
        height: 0.22rem;
    }
}
.tips4 {
    position: relative;
    left: 0.06rem;
    top: -0.06rem;
    z-index: 2;
    width: 0.22rem;
    height: 0.22rem;
}
.tips5 {
    position: absolute;
    right: -0.28rem;
    top: 0;
    z-index: 2;
    img {
        float: left;
        width: 0.22rem;
        height: 0.22rem;
    }
}





















