@charset "utf-8";
html {
    color: #333;
    background: #fff;
    font-size: 100px;
    height: 100%;
}
body {
    word-wrap: break-word;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
th,
td {
    margin: 0;
    padding: 0;
}
ul,
ol,
input {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    border: none;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input:focus {
    outline: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearDiv {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
    text-decoration: none;
}
.iconfont {
    font-size: 16px;
    margin-right: 5px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
}
.dataN {
    margin-top: 64px;
    img {
        width: 88px;
    }
    margin-bottom: 12px;
}
.textN {
    line-height: 16px;
    margin-bottom: 40px;
    span {
        font-size: 16px;
        font-weight: 500;
        color: #141634;
    }
}
.loading {
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 30px;
    .el-icon {
        font-size: 30px;
    }
}
.loading2 {
    .loading-texts {
        color: #848599;
        margin-left: 3px;
    }
}
.loading3 {
    .loading-texts {
        color: #848599;
        margin-left: 3px;
        font-size: 20px;
        font-weight: 500;
    }
}
